
/* FIELDSET BUSCA */

.fds-busca select{
    max-width: 200px;
}




@media all and (max-width : 768px) {

    .fds-busca .inline{
        flex-direction: unset;
        flex-wrap: wrap;
    }

    .fds-busca label{
        display: none;
    }

    .fds-busca input{
        order: 5;
        width: 100%;
    }

    .fds-busca select{
        max-width: unset;
        width: calc(100% - 140px);
    }


}