
<template>
    <style>

        #fdsUser{
            display: none;
        }

    </style>

    <div class="form-base">
        <h1>Usuários</h1>

        <fieldset class="fds-busca">
            <legend>Busca</legend>
            <div class="inline">
                <label for="cmbBusca">Pesquisa</label>
                <select id="cmbBusca">
                    <option value="email" signal="LIKE">Email</option>
                    <option value="id" signal="IN">Código</option>
                    <option value="access" signal="IN">Acesso</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca" class="btn-round"><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovoUser" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            
            </div>
        </fieldset>


        <fieldset id="fdsUser">
            <legend>Usuários</legend>
            <table id="tblUser"></table>
        </fieldset>  
        
    </div>


</template>
<script>

    const pageData = main_data.adm_usuarios.data
    const pageFunc = main_data.adm_usuarios.func
  
    pageFunc.fillUser = ()=>{      
        const tbl = document.getElementById('tblUser')
        tbl.innerHTML = ''
        const query = getVal()
        const params = new Object;
            params.hash = localStorage.getItem('hash');
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
        const myPromisse = queryDB(params,'USR-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            document.querySelector('#fdsUser').style.display = json.length > 0 ? 'block' : 'none'

            tbl.head('Cod.,Email,Perfil')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'id,email,perfil','str,Low,Upp')                
            }         
        });
    }

    document.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillUser()
    })

    document.querySelector('#btnNovoUser').addEventListener('click',()=>{
        openHTML('adm_view_user.html','pop-up','Novo Usuario',{'id':'0'})
    })
    

    document.querySelector('#tblUser').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('adm_view_user.html','pop-up','Editar Usuario',data)
    })

</script>