
<template>
    <style>


    </style>
        
        <fieldset id="fdsSetor">
            <legend>Setores</legend>
            <table id="tblSetor"></table>
            <button id="btnNovoUser" class="btn">Novo Setor</button>    
        </fieldset>

</template>
<script>

    const pageData = main_data.admin_setores.data
    const pageFunc = main_data.admin_setores.func
  
    pageFunc.fillSetor = ()=>{
        const tbl = document.getElementById('tblSetor')
        tbl.innerHTML = ''
        const params = new Object;
            params.hash = localStorage.getItem('hash');
            params.field = 'nome'
            params.value = ''
        const myPromisse = queryDB(params,'ADM-1');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)            

            tbl.head('Cod.,Nome')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'id,nome','str,Upp')                
            }         
        });
    }

    pageFunc.fillSetor()

    document.querySelector('#btnNovoUser').addEventListener('click',()=>{

        const params = new Object
            params.hash = localStorage.getItem('hash')
            params.id = 0
            params.nome = prompt('Digite o nome do setor:').toUpperCase()

        const myPromisse = queryDB(params,'ADM-0');
        myPromisse.then((resolve)=>{
            pageFunc.fillSetor()
        })
    })

    document.querySelector('#tblSetor').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
     
        const params = new Object
            params.hash = localStorage.getItem('hash')
            params.id = data.id
            params.nome = prompt('Digite o nome do setor:',data.nome).toUpperCase()

        const myPromisse = queryDB(params,'ADM-0');
        myPromisse.then((resolve)=>{
            pageFunc.fillSetor()
        })

    })


</script>