
<template>
    <style>

        #fdsUser{
            display: none;
        }


        #btnNovoUser{
            width: 98%;
        }

    </style>

    <div class="form-base">
        <h1>Usuários</h1>
        <fieldset id="fdsUser">
            <legend>Usuários</legend>
            <table id="tblUser"></table>
        </fieldset>
        <button id="btnNovoUser">Novo Usuário</button>    
        
    </div>


</template>
<script>

    const pageData = main_data.admin_usuarios.data
    const pageFunc = main_data.admin_usuarios.func

  
    pageFunc.fillUser = ()=>{      
        const tbl = document.getElementById('tblUser')
        tbl.innerHTML = ''
        const params = new Object;
            params.hash = localStorage.getItem('hash');
            params.field = 'email'
            params.value = ''
        const myPromisse = queryDB(params,'USR-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            document.querySelector('#fdsUser').style.display = json.length > 0 ? 'block' : 'none'

            tbl.head('Cod.,Email,Acesso')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'id,email,access','str,Low,int')                
            }         
        });
    }

    pageFunc.fillUser()
/*
    document.querySelector('#tblUser').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('viewUser.html','pop-up','Editar Usuario',data)
    })


    document.querySelector('#btnNovoUser').addEventListener('click',()=>{
        const data = new Object
        data.mode = 'new'
        openHTML('viewUser.html','pop-up','Novo Usuario',data)
    })
*/
</script>