
<template>
    <style>

        #cmbMail > option:hover{
            background-color: crimson;
            color: aliceblue;
            cursor: pointer;
        }

    </style>
  
    <h1>Mensagens</h1>
    <fieldset>
        <legend>Recebidas</legend>
        <select id="cmbMail" size="10"></select>
        <div class="inline">
            <button id="btnLer">Ler</button>
            <button id="btnDel">Deletar</button>
        </div>
    </fieldset>          
        
    <fieldset>
        <legend>Nova</legend>
        <div class="inline">
            <label for="cmbUser">Destinatário</label>
            <select id="cmbUser"></select>
        </div>
        <textarea id="edtMail" cols="30" rows="10" maxlength="512"></textarea>
        <button id="btnEnviar">Enviar</button>
    </fieldset>

</template>

<script>


    const pageData = main_data.usr_mail.data
    const pageFunc = main_data.usr_mail.func

    pageFunc.fillUsers = ()=>{

        const cmb = document.querySelector('#cmbUser')
        cmb.innerHTML = ''
        const params = new Object;
            params.hash = localStorage.getItem('hash');

        const myPromisse = queryDB(params,'MAIL-3');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)

            function addOpt(id,email){
                const opt = document.createElement('option')
                opt.value = id
                opt.innerHTML = email
                opt.selected = pageData.access == id 
                cmb.appendChild(opt)
            }

            for(let i=0; i<json.length;i++){
                addOpt(json[i].id,json[i].email)                
            }
        });
    }

    pageFunc.sendMail = ()=>{

        const params = new Object;
            params.hash = localStorage.getItem('hash')
            params.id_to = document.querySelector('#cmbUser').value
            params.message =  document.querySelector('#edtMail').value.trim()

        const myPromisse = queryDB(params,'MAIL-0');
        myPromisse.then((resolve)=>{
            
        })
    }

    pageFunc.viewMail = ()=>{

        const params = new Object;
            params.hash = localStorage.getItem('hash')

        const myPromisse = queryDB(params,'MAIL-1');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const mail = document.querySelector('#cmbMail')
            mail.innerHTML = ''
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.data = json[i]
                opt.innerHTML = json[i].data.date()+' '+json[i].sender + ' - ' + json[i].message.substring(0,20)
                mail.appendChild(opt)
            }

            console.log(json)
        })
    }


    pageFunc.fillUsers()
    pageFunc.viewMail()




    document.querySelector('#btnEnviar').addEventListener('click',()=>{
        if(confirm('Enviar mensagem?')){
            pageFunc.sendMail()
        }
    })

    function readMail(){

    }

    document.querySelector('#cmbMail').addEventListener('dblclick',()=>{
        readMail()
    })

    document.querySelector('#btnLer').addEventListener('click',()=>{
        readMail()
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{

    })



</script>